{# Existing comment modal removal #}
<div id="st-modal-delete-comment" class="uk-flex-top" uk-modal="esc-close: false; bg-close: false"
     data-error="Requested comment was found\nbut its deletion failed!\nPlease try again later,\nor contact us if necessary."
     data-success="Requested comment was found\nand successfully deleted!\nPlease also note\nall its possible associated data do not exist anymore."
     data-technical-error="Sorry, a technical error happened!\nPlease try again later,\nor contact us if necessary.">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <h3 class="uk-modal-title uk-text-lead uk-text-center uk-text-bold uk-text-uppercase st-color-black">Please confirm comment removal</h3>
        {# ------------------------------------------------------------------------------------------------------------------------------------------------------ #}
        <div class="uk-flex uk-flex-center uk-margin-top">
            <button id="st-cancel-delete-comment-button" type="button" tabindex="-1"
                    class="uk-button uk-button-secondary uk-border-rounded uk-box-shadow-hover-medium uk-margin-small-right uk-text-bold uk-modal-close st-cancel-delete-comment-button st-svg-icon-button-default st-svg-icon-cancel" title="Cancel">
                Cancel <span uk-icon="icon: close; ratio: 1"></span>
            </button>
            <button id="st-confirm-delete-comment-button" type="button" tabindex="-1"
                    class="uk-button uk-button-secondary uk-border-rounded uk-box-shadow-hover-medium uk-text-bold st-confirm-delete-comment-button st-svg-icon-button-default st-svg-icon-delete" title="Delete">
                <span class="st-delete-comment-spinner st-color-yellow uk-hidden" uk-spinner="ratio: 0.8"></span>
                Delete <span uk-icon="icon: trash; ratio: 1"></span>
            </button>
        </div>
        {# ------------------------------------------------------------------------------------------------------------------------------------------------------ #}
        {# This removal can be part of trick single page! #}
        <p class="uk-margin-small-top">
            <span class="uk-label uk-display-inline uk-text-small st-color-blue st-background-yellow">INFO!</span>
            <span class="uk-label uk-display-inline uk-padding-remove-left uk-padding-remove-right uk-text-lowercase uk-text-small st-color-black">
                <span class="uk-text-capitalize">This</span> comment removal is available since you are allowed to perform this action
                and it will take effect immediately.
            </span>
        </p>
    </div>
</div>
