{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Error{% endblock %}

{% block header %}
    {% include 'partials/all/image_header_loader.html.twig' with {'spinnerRatio': '2.5'} %}
    <div class="uk-position-relative uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-background-blend-darken uk-invisible st-background-image-header" data-src="{{ asset(globalImageDirectory~'error-snowboard.jpg') }}" style="background-position: 40% 25%; height: 600px" uk-img>
        <div class="uk-position-center uk-text-center uk-padding-small st-overlay-image-header-container">
            <p class="st-color-white st-text-shadow-dark uk-text-large">
                Oups, it seems to be a bad way...
            </p>
            <p class="st-color-white st-text-shadow-dark uk-text-medium uk-visible@m">
                There are so many reasons to reach such a dead end! <br class="uk-visible@l">
                These can be a technical issue, no authentication or authorization, an expired link, an outdated data... <br class="uk-visible@l">
                Maybe, you did something wrong.<br class="uk-visible@l">
                Try another page, you will find the desired data.
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="uk-heading-line uk-text-large uk-text-center uk-margin-top">
        <span uk-icon="icon: warning; ratio: 2"></span>
    </div>
    <div id="st-error-page" class="uk-section uk-preserve-color">
        <div class="uk-container">
            <h1 class="uk-heading-bullet uk-text-large uk-text-bold uk-text-uppercase uk-text-center">
                {{ status_code }} HTTP Error
            </h1>
            <p class="uk-text-center">
                <em class="uk-padding-small uk-text-muted uk-text-bold">
                    <small class="uk-text-uppercase st-color-blue">{{ status_text }}</small><br>
                    A <span class="st-color-red">bad request</span> or <span class="st-color-red">technical error</span> happened - Please contact us if necessary!
                </em><br>
                <a href="{{ path('home') }}" title="Go back to homepage" class="uk-button uk-button-secondary uk-display-inline-block uk-margin-small-top uk-border-rounded uk-box-shadow-hover-medium">
                    <span uk-icon="icon: chevron-left; ratio: 1.3"></span>&nbsp;<span class="uk-text-bold">Go back to homepage</span>
                </a>
            </p>
        </div>
    </div>
{% endblock %}
